/* ------ GLOBAL ------ */
html {
	scroll-behavior: smooth; 
}

body {
	font-family: 'Montserrat';
}

ul {
	padding: 0px;
	list-style: none;
}

/* ------ HEADER ------ */

.header {
	background-color: #EF3741;
	padding-top: 65px;
	padding-bottom: 35px;
	text-transform: uppercase;
	font-family: 'Josefin Sans'!important;
}

.header img{
	max-width: 70%;
}

.contenedor__mod{
	max-width: 80%;
	margin: 0 auto;
}

.logo{
	text-align: center;
}

.menuHeader{
	text-align: right;
	margin-top: 40px;
	margin-bottom: 90px;
}

.menuHeader li{
	font-size: 17.82pt;
	display: inline-block;
	margin-right: 40px;
}

.menuHeader li a {
	text-decoration: none;
	color:#fff;
}

.menuHeader li:last-child{
	margin-right: 0;
}

.menuHeader li a:hover {
	color: #ffffff;
}

.menuHeader li.current-menu-item {
	font-weight: bold;
	color: #ffffff;
}

.redes{
	text-align: right;
	margin-top: 40px;
	margin-bottom: 60px;
}

.redes li{
	margin-right: 25px;
	display: inline-block;
}

.redes li:last-child{
	margin-right: 0;
}

.redes li a {
	text-decoration: none;
}

/* ------ SLIDE ------ */

.gradient{
	background-image: linear-gradient(to top, #eeece4 30%, #ef3741 100px);
}

.slide{
	text-align: center;
}
.slide img{
	height: 400px;
	max-width: 100%;
}

/* ------ CONTENT ------ */

.cuerpo .cuerpo__superior{
	padding-top: 100px;
	background-color: #eeece4;
}
.cuerpo .cuerpo__inferior{
	background-image: url('../img/curva_superior_mod.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: top;
	margin-bottom: 20px;
}

.imagen1{
	position: relative;
	text-align: right;
}

.puntos1{
	position: absolute;
	left: 10%;
	top: 25%;
}

.sobremi{
	display: inline;
	font-size: 18px;
	color:  #EF3741;
	font-family: 'Josefin Sans';
	font-weight: bold;
	padding-left: 10px;
}

.julian{
	font-weight: bold;
	color: #333333;
}

.texto1{
	max-width: 68%;
	font-size: 19px;
	color: #333333;
}

.titulos{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	font-size: 19px;
	color: #333333;
	margin-top: 40px;
}

.objetivo{
	color: #333333;
	font-weight: 500;
}

.cursos{
	color: #32112C;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	font-size: 48px;
	padding-top: 50px;
	padding-bottom: 30px;
}

.contenedor_cursos{
	background-color: #fff;
	text-align: center;
	margin: 40px 0px;
	padding-top: 30px;
	margin-left: 5px;
	margin-right: 5px;
	-webkit-box-shadow: 3px 3px 8px 0px rgba(50, 50, 48, 0.25);
	-moz-box-shadow: 3px 3px 8px 0px rgba(50, 50, 48, 0.25);
	box-shadow: 3px 3px 8px 0px rgba(50, 50, 48, 0.25);
}

.titulo2, .precio{
	color: #ef3741;
	text-align: left;
	margin-left: 40px;
	font-weight: 900;
	font-size: 21px;
}

.titulo2{
	margin-top: 15px;
	text-transform: uppercase;
	max-width: 45%;
}

.clases_online{
	text-align: left;
	font-size: 12px;
	color: #808080;
	margin: 20px 0px 5px 40px;
}

.ver_mas{
	background-color: #EE3740;
	text-transform: uppercase;
	display: block;
	padding: 15px 0px;
	font-size: 24px;
	font-weight: 700;
	margin-top: 20px;
	color: #fff;
}

.ver_mas:hover{
	text-decoration: none;
	color: #fff;
}

.ver_mas_cursos{
	background-color: #EEECE4;
	color: #32112C;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 23px;
	font-weight: 800;
	padding: 7px 10px;
    display: block;
    max-width: 220px;
    margin: 0px auto;
    margin-bottom: 20px;
}

.ver_mas_cursos:hover{
	text-decoration: none;
	color: #32112C;
}

/* ------ CONTACTO ------ */
#formulario-contacto {
	padding-top: 50px;
}

.contenedor__contacto{
	max-width: 80%;
}

.pregunta__contacto{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	line-height: 90px;
	font-size: 59.42pt;
	color: #32112C;
}

.contacto__texto{
	font-family: 'Montserrat', sans-serif;
	font-size: 17pt;
	color: #EE3740;
}

.contenedor__form{
	position: relative;
	height: 525px;
	background-color: #fff;
	display: inline-block;
}

.contenedor__formulario{
	position: absolute;
	right: 110px;
	margin-bottom: 50px;
}

.puntos2{
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.form .form-control{
	border: 0px;
	background-color: #F9F9F9;
	font-size: 13.26pt;
	width: 483px;
	height: 43.4px;
	border-radius: 0;
}

.form .form-control:focus{
	box-shadow: none;
}

.form .form-control::placeholder{
	color: #B3B3B3;
}

#text-area{
	height: 234.4px;
	resize: none;
}

.boton{
	text-align: center;
	background-color: #32112C;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 22.23pt;
	height: 43.4px;
	width: 145px;
}

.boton a{
	color: #ffffff;
}

.boton a:hover{
	color: #ffffff;
	text-decoration: none;
}

/* ------ INVITACION ------ */

.invitacion{
	margin-top: 100px;
	background-image: url('../img/curva.png');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100%;
	padding-bottom: 15%;
}

.contenedor__inv{
	max-width: 80%;
}

.contenedor__rel{
	position: relative;
	height: 700px;
	margin: 0px;
}
.invitacion__img{
	position: absolute;
	right: 90px;
}

.puntos3{
	position: absolute;
	right: 0px;
	bottom: 100px;
}

.invitacion__texto{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	font-size: 63.03pt;
	color: #EE3740;
	line-height: normal;
}

.invitacion__redes li{
	display: inline-block;
	margin-right: 30px;
}

/* ------ FOOTER ------ */

.footer{
	background-color: #EF3741;
	padding: 64px 0px;
	color: #ffffff;
}

.logo_footer{
	height: 80px;
	width: auto;
	padding-left: 290px;
}

.borde{
	border-right: 1px solid #fff;
}

.texto_footer, .texto_footer_redes, .facebook_footer{
	padding-left: 43px;
	font-size: 18px;
	font-weight: 500;
	margin-right: 15px;
}

.texto_footer_redes{
	font-weight: bold;
}

.texto_footer a{
	color: #ffffff;
}

.masvino_footer{
	display: inline-block;
	font-size: 14px;
	margin-left: 15px;
	font-weight: bold;
}

/* ----- PAGINA CURSOS ------ */

.nuestroscursos p{
	margin-bottom: 0%;
	background-color: #EF3741;
	color: #ffffff;
	text-align: center;
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: 62.6pt;
}

.cuerpo__cursos{
	background-image: linear-gradient(to top, #ffffff 82%, #ef3741 100px);
}

/* ----- PAGINA INDIVIDUAL DEL CURSO ------ */

.titulo__curso{
	font-size: 400%;
	color: #ffffff;
	max-width: 70%;
	font-family: 'Montserrat';
	font-weight: bold;
}

.contenedor_añadir_mp{
	margin-top: 30px;
}

.añadir__carrito{
	text-transform: uppercase;
	background-color: #ef3741;
	padding: 10px 25px;
	color: #ffffff;
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: 19pt;
}

.añadir__carrito:hover{
	color: #ffffff;
	text-decoration: none;
}

.clases_online_curso{
	color: #808080;
	font-size: 18.74pt;
}

.contenedor_cat_pre{
	position: absolute;
	bottom: 0%;
}

.precio_curso{
	color: #ef3741;
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: 28.86pt;
}

.contenedor__mod_curso{
	max-width: 70%;
	margin: auto;
}

.entrada__curso{
	position: relative;
	background-image: linear-gradient(to top, #ffffff 50%, #ef3741 50%);
}

.imagen__curso img{
	height: auto;
	max-width: 100%;
}

.contenido__curso{
	padding-top: 50px;
	max-width: 70%;
	margin: auto;
}

.contenido__curso p{
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 21pt;
}

hr {
	margin: 50px 0px;
	border-width: 2px;
}

.desc_roja {
	font-family: 'Montserrat';
	text-transform: uppercase;
	font-size: 26pt;
	color: #ef3741;
}

.puntos4{
	position: absolute;
	right: 5px;
	bottom: 70%;
}

.invitacion_rel{
	position: relative;
	margin-top: 100px;
	background-image: url('../img/curva.png');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100%;
	padding-bottom: 15%;
}

.puntos5{
	position: absolute;
	bottom: 30%;
}

/* ============ RESPONSIVE ============*/
@media only screen and (max-width: 48em){

	br{
		display: none;
	}

	/* HEADER */

	.imagen1{
		text-align: center;
	}

	/* ------ FOOTER ------ */
	.footer{
		text-align: center;
	}

	.logo_footer, .texto_footer, .texto_footer_redes{
		padding: 0px;
		margin: 0px 0px 16px;
	}
}